body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

.start-button {
  padding: 15px 30px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.subject-select,
.submit-button {
  padding: 10px;
  font-size: 16px;
}

.timer {
  font-size: 18px;
  font-weight: bold;
}

.question {
  margin-bottom: 20px;
  padding-bottom: 20px; /* Add extra padding at the bottom of each question */
}

.question h4 {
  margin-bottom: 10px;
}

.question label {
  display: block;
  margin-bottom: 5px;
}

.result-container {
  display: none;
}

.subject-result {
  margin-bottom: 20px;
}

.subject-result .collapsible {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-result .collapsible.active {
  background-color: #e9e9e9;
}

.subject-result .content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}

.subject-result .question-result {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .header {
    flex-direction: column;
  }

  .subject-select,
  .submit-button,
  .timer {
    width: 100%;
    text-align: center;
  }
}
